.calendar {
  width: 320px;
  margin: auto;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f4f4f4;
  border-bottom: 1px solid #ddd;
}

.days-of-week,
.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.day-name, .day {
  padding: 10px;
  text-align: center;
}

.day {
  border: 1px solid #ddd;
  position: relative;
}

.empty {
  background-color: #f4f4f4;
}

.day.completed {
  background-color: #a0e7a0;
}

.day.today {
  font-weight: bolder;
  position: relative;
  z-index: 1;
}

.day.today::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 33px;
  height: 33px;
  border: 2px solid red;
  border-radius: 50%;
  box-sizing: border-box;
  z-index: 0;
}

